{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{
  govukFooter({
    meta: {
      items: [
        {
          href: "/help",
          text: "Get help"
        },
        {
          href: pshUrl + "/content/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    },
    classes: "govuk-!-display-none-print"
  }) 
}}
