<header class="dps-header" role="banner">
  <div class="dps-header__container">
    <div class="dps-header__title">
      <a class="dps-header__link dps-header__title__organisation-name" href="/">
      <img src="/assets/images/crest.svg" class="dps-header__logo"/>
        HMPPS
      </a>

      <a class="dps-header__link dps-header__title__service-name" href="/">Digital Prison Services</a>
    </div>

    <nav aria-label="Account navigation">
      <ul class="dps-header__navigation">
        <li class="dps-header__navigation__item">
          <a class="dps-header__link" href="{{ authUrl }}/account-details" data-test="manage-account-link">
            <span data-test="logged-in-name">{{ user.displayName | initialiseName }}</span>
            <span class="dps-header__link__sub-text">Manage your details</span>
          </a>
        </li>

        <li class="dps-header__navigation__item">
          <a class="dps-header__link" href="/sign-out" data-test="sign-out-link">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="location-bar">
  <span class="location-bar__location" data-test="active-location">
    <span class="gtm-active-case-load">{{ user.activeCaseLoad.description }}</span>
  </span>
  {% if user.allCaseLoads.length > 1 %}
    <a class="location-bar__link" href="{{ pshUrl }}/change-caseload" data-test="change-location-link">Change your location</a>
  {% endif %}
</div>
