{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  <script src="/assets/js/jquery.min.js"></script>

  {% for js in frontendComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in frontendComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{% if errors.length %}Error: {% endif %}{{ title }} - {{ applicationName }} - Digital Prison Services{% endblock %}

{% block header %}
  {% if frontendComponents.headerHtml %}
    {{ frontendComponents.headerHtml | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {% if frontendComponents.footerHtml %}
    {{ frontendComponents.footerHtml | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
  {% block pageScripts %}
  {% endblock %}
{% endblock %}
