<form method="POST" action="{{ action }}" novalidate="novalidate" data-test="prisoner-search-form">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  <div class="horizontal-form govuk-!-margin-bottom-3">
    {{ govukInput({
      id: "searchTerm",
      name: "searchTerm",
      value: searchTerm,
      label: {
          html: "Enter a restricted patient’s name or prison number"
      },
      classes: "govuk-!-width-full",
      attributes: {
        'data-test': "patient-search-term-input"
      },
      errorMessage: validationErrors | formError("searchTerm")

    }) }}

    {{ govukButton({
      text: "Search",
      type: "submit",
      classes: "govuk-button--secondary",
      attributes: { "data-test": "patient-search-submit" }
    }) }}
  </div>
</form>