$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;
$govuk-font-family-print: 'GDS Transport';

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './pages/_homepage.scss';

@import './components/card';
@import './components/header-bar';
@import './components/footer';
@import './components/alert-flags';
@import './components/results-table';
@import './components/autocomplete';
@import './components/feedback-banner';
@import './local';
@import 'horizontal-content';
@import 'helpers';
