{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadcrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Search for a restricted patient to remove" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-test": "error-summary" }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <div class="govuk-hint">Search for patients who are currently in a secure hospital. These patients can be removed from Restricted Patients and will no longer be the responsibility of the prison.</div>

      {% include "../../partials/restrictedPatientSearchForm.njk" %}

   </div>
  </div>

{% endblock %}
