{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadcrumb.njk" import breadcrumb %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = "Removing someone from restricted patients" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">You are removing {{ patient.friendlyName }} from restricted patients</h1>

  <div class="horizontal-information horizontal-information--with-border govuk-!-margin-bottom-6">
    <img src="/prisoner/{{ patient.prisonerNumber }}/image" alt="Photograph of {{ patient.friendlyName }}" class="horizontal-information__prisoner-image" />
    
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
      <p class="govuk-!-margin-bottom-0" data-test="patient-name">{{ patient.displayName }}</p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Prison number</h3>
      <p class="govuk-!-margin-bottom-0" data-test="prisoner-number">{{ patient.prisonerNumber }}</p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Hospital</h3>
      <p class="govuk-!-margin-bottom-0" data-test="patient-hospital">{{ patient.hospital }}</p>
    </div>
  </div>

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="currentAgencyId" value="{{ currentAgencyId }}" />

    {{ govukButton({ 
      text: "Confirm",
      preventDoubleClick: true,
      classes: "govuk-!-margin-right-3",
      type: "submit",
      attributes: { "data-test": "confirm-patient-removal-submit" }
    }) }}

    {{ govukButton({
      text: "Cancel",
      element: 'a',
      href: '/back-to-start',
      classes: "govuk-button--secondary",
      attributes: { "data-test": "confirm-patient-removal-cancel" }
    }) }}
  </form>
{% endblock %}
