{% extends "../partials/layout.njk" %}
{% from "../partials/breadcrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../macros/helpItems.njk" import helpItems %}

{% set title = "Restricted patients help" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% for helpSection in helpSections %}
    {% set dataQa = helpSection.category + "-header" %}
    <h2 class="govuk-heading-m" data-qa="{{ dataQa }}">{{ helpSection.title }}</h2>
    {{ helpItems(helpSection.helpItems, openSection) }}
  {% endfor %}

{% endblock %}

{% block pageScripts %}
  <script src="/assets/js/open-help-section.js"></script>
{% endblock %}