{% extends "../partials/layout.njk" %}
{% from "../partials/breadcrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../macros/helpItems.njk" import helpItems %}

{% set title = "Restricted patients help" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <h2 class="govuk-heading-m" data-qa="product-info-header">Restricted patients product info</h2>

    {{ helpItems(productInfoHelp, openSection) }}

  <h2 class="govuk-heading-m" data-qa="about-patients-header">About restricted patients</h2>

    {{ helpItems(aboutPatientsHelp, openSection) }}

  <h2 class="govuk-heading-m" data-qa="roles-header">Roles</h2>

    {{ helpItems(rolesHelp, openSection) }}

  <h2 class="govuk-heading-m" data-qa="accounts-header">Accounts, access and sign in</h2>

    {{ helpItems(accountsHelp, openSection) }}

  <h2 class="govuk-heading-m" data-qa="issues-header">Operational issues</h2>

    {{ helpItems(issuesHelp, openSection) }}

{% endblock %}

{% block pageScripts %}
  <script src="/assets/js/open-help-section.js"></script>
{% endblock %}