{% extends "../partials/layout.njk" %}
{% from "../partials/breadcrumb.njk" import breadcrumb %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Search for a prisoner" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-test": "error-summary" }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% include "../partials/prisonerSearchForm.njk" %}
{% endblock %}
