{% extends "../partials/layout.njk" %}
{% from "../partials/breadcrumb.njk" import breadcrumb %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set title = pageTitle or "Viewing restricted patients" %}

{% block beforeContent %}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  {% if errors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { "data-test": "error-summary" }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ heading or "Restricted patients" }}</h1>
  
  {% include "../partials/patientSearchForm.njk" %}

  {% if tableData.rows | length %}
    <p class="align-right"><strong>People listed:</strong> {{ tableData.rows.length }}</p>

    <div class="results-table">
      {{ govukTable(tableData) }}
    </div>
  {% else %}
    {% if not errors | length %}
      <p class="govuk-!-padding-top-3" data-test="no-results-message">There are no results for the details you have entered.</p>
    {% endif %}
  {% endif %}
{% endblock %}
